/* Main content */

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    
  }

  
.main-content {
    margin-left: 250px; /* Space for the expanded sidebar */
    transition: margin-left 0.3s ease; /* Smooth transition for margin change */
    padding: 20px; /* Add padding for content */
    width: calc(100% - 250px); /* Adjust width based on sidebar */
}

.main-content.collapsed {
    margin-left: 60px; /* Space for the collapsed sidebar */
    width: calc(100% - 90px); /* Adjust width based on sidebar */
}