nav {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  width: 100%; /* Full width */
  position: fixed; /* Fixed position to keep it at the top */
  top: 0; /* Align at the top */
  left: 0; /* Align at the left */
  z-index: 1000; /* Ensure it's above other content */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* Display list items horizontally */
  align-items: center; /* Center items vertically */
}

nav ul li {
  margin-left: 10px; /* Adjust spacing between menu items */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.user-info {
  display: flex;
  align-items: center; /* Align items vertically within user-info */
}

.user-info p {
  margin: 0; /* Remove default margin */
  margin-right: 10px; /* Add spacing between user-info items */
}

.user-info p:first-child {
  margin-left: 10px; /* Adjust spacing for the first child */
}
